.background {
  width: 100%;
  height: 100%;
}

.triColCenterWide {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 6rem 1fr 6rem;
  grid-template-rows: 6rem 1fr;
  gap: 2rem;
}

.burgerBox {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: white;
  height: 6rem;
}

.flexPanels {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.fourSquare {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.leftAndRight {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (min-width: 1024px) {
  .burgerBox {
    visibility: hidden;
    pointer-events: none;
  }
  .flexPanels {
    flex-direction: row;
    justify-content: space-around;
  }
  .fourSquare {
    margin-top: 0;
  }
}
