.background {
  width: 100%;
  min-height: 100vw;
}

.triColCenterWide {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 6rem 1fr 6rem;
  grid-template-rows: 6rem 1fr;
  gap: 2rem;
}

.burgerBox {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: white;
  height: 6rem;
}

.bgBox {
  background-color: white;
  border: solid 0.5px #aaa;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 0.2rem #777;
}

.flexPanels {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourSquare {
  margin: 1rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.leftAndRight {
  grid-column-start: 1;
  grid-column-end: 3;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .background {
    min-height: 70vh;
  }
  .burgerBox {
    visibility: hidden;
    pointer-events: none;
  }
  .flexPanels {
    flex-direction: row;
    justify-content: space-around;
  }
  .fourSquare {
    margin: 0 0 0 2rem;
  }
}
