.background {
  width: 100%;
}

.triColCenterWide {
  position: relative;
  top: -6rem;
  width: 100%;
  display: grid;
  grid-template-columns: 6vw 80vw 6vw;
  grid-template-rows: 6rem 1fr;
  gap: 4vw;
}

.burgerBox {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: white;
  height: 6rem;
}

.navBox {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
}

.bgBox {
  background-color: white;
  border: solid 0.5px #aaa;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 0.2rem #777;
}

.flexPanels {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourSquare {
  margin: 1rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.leftAndRight {
  grid-column-start: 1;
  grid-column-end: 3;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.padded {
  padding: 0.5rem;
  margin: 0 .5rem 0 .5rem;
  white-space: pre;
}

.onGreen {
  background-color: green;
  color: white;
}

.onYellow {
  background-color: goldenrod;
}

.onRed {
  background-color: red;
  color: white;
}

.red {
  color: red;
}

.underBurger {
  position: absolute;
  z-index: 2;
  top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.button {
  height: 2rem;
  width: 7rem;
  margin: auto;
  margin-bottom: 1rem;
  padding-top: 0.3rem;
  background-color: #80c0ff;
  border: solid 0.5px #aaa;
  border-radius: 0.4rem;
  box-shadow: 1.5px 1.5px 0.2rem #777;
  color: white;
}

.button:active {
  background-color: green;
}

.ghostedOut {
  background-color: #aaa;
}

.blinking {
  animation-name: blink;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    background-color: #80c0ff;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: #80c0ff;
  }
}

@media only screen and (min-width: 1024px) {
  .triColCenterWide {
    grid-template-columns: 12rem 1fr 6rem;
    gap: 2rem;
  }
  .background {
    min-height: 70vh;
  }
  .burgerBox {
    visibility: hidden;
    pointer-events: none;
  }
  .flexPanels {
    grid-column-end: 4;
    flex-direction: row;
    justify-content: space-around;
  }
  .fourSquare {
    margin: 0 1rem 0 2rem;
  }
  .underBurger {
    top: 8rem;
    left: 0.5rem;
  }
}
