.header {
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
}

.pageTitle {
  padding-left: 1rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}

@media only screen and (min-width: 1024px) {
  .mobile {
    visibility: hidden;
    pointer-events: none;
  }
}
